:root {
    --base-green: #1ED956;
    --light-green: #71FC6A;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template: 1fr 11fr 1fr / 1fr;
}

nav {
    height: 100%;

    display: flex;
    align-items: center;

    background-color: var(--base-green);
}

img {
    justify-self: start;
    padding-left: 10px;
    height: 60px;
}

#navbar {
    flex: 1;
    padding-left: 20px;
    margin-right: 30px;

    display: flex;
    gap: 40px;

    list-style: none;
}

#navbar>div {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
}

#navbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    text-shadow: 3px 3px 15px black;
}

main {
    /*Colocar*/
    grid-row: 2;
}

footer{
    /*Colocar no final da pagina*/
    grid-row: 3;

    display: flex;
    align-items: center;
    justify-content: center;

    color: darkgrey;
    background-color: var(--light-green);
}


@media (max-width: 900px) {
    #navbar a{
        font-size: 2.3vw;
    }
    #navbar {
        gap: 2%;
    }
}